<div class="container">
  <h1>New Item</h1>
  <form>

    <div class="form-group">
      <label for="project">Project</label>
      <select class="form-control"  id="project"
              required
             name="project" [(ngModel)]="project">
	<option *ngFor="let project of projects" [ngValue]="project" >
	  {{ project.name }}
	</option>
      </select>
    </div>

    <div class="form-group">
      <label for="title">Item Title</label>
      <input type="text" class="form-control" id="title" required #title  (blur)="updateTitle(title.value)" (keyup.enter)="updateTitle(title.value)">
    </div>

    <div class="form-group">
      <label for="description">Item Description</label>
      <input type="text" class="form-control" id="description" required #description  (blur)="updateDescription(description.value)" (keyup.enter)="updateDescription(description.value)">
    </div>

    <button type="button" class="btn btn-success" (click)="newItem()">Submit</button>

  </form>
</div>
