<div class="container">
  <h1>Login</h1>
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" required #username  (blur)="updateUsername(username.value)" (keyup.enter)="updateUsername(username.value)">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" required #password  (blur)="updatePassword(password.value)" (keyup.enter)="updatePassword(password.value)">
    </div>

    <button type="button" class="btn btn-success" (click)="newLogin()">Submit</button>

  </form>
</div>
