<div class="container">
  <h1>New Project</h1>
  <form>
    
    <div class="form-group">
      <label for="name">Project Name</label>
      <input type="text" class="form-control" id="name" required #name  (blur)="updateName(name.value)" (keyup.enter)="updateName(name.value)">
    </div>

    <div class="form-group">
      <label for="description">Project Description</label>
      <input type="text" class="form-control" id="description" required #description  (blur)="updateDescription(description.value)" (keyup.enter)="updateDescription(description.value)">
    </div>
    
    <button type="button" class="btn btn-success" (click)="newProject()">Submit</button>

  </form>
</div>
